@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

* {
	margin: 0;
	padding: 0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-family: 'Pompiere', cursive;
	border: 0.5px solid blue;

}

h1{
	font-size: 3em;
	font-family: "pompiere",cursive;
	text-align: center;
	.border:after {
		content: "";
		position: absolute;
		width: 15%;
		height: 5px;
		border-top: 1px solid #c0b599;
		border-bottom: 1px solid #c0b599;
		bottom: -30px;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
}

/* navbar */
.navbar-default {
	background-color: black;
	border-color: transparent;
	margin-bottom: 0px;
	margin-top: -1px;
	position: fixed;
	width: 100%;
	border-radius: 0;
	z-index: 10007;
	a.navbar-brand{   
		float: left;
		height: 71px;
		padding-left: 90px;
		font-size: 24px;
		line-height: 68px;
	}
	.n-logo{    
		background: url(../img/m129ctbxq65v0ce1e1k911.jpg)no-repeat;
		width: 103px;
		padding: 42px;
		margin-left: -79%;
	}
}

/* estilos generales */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: white;
	margin-left: 66px;
	font-size: 28px;
}
.content-block-one {
	@include block;
	.verde{
		padding-top: 37px;
		color: $verde;
		font-family: "Yanone Kaffeesatz",sans-serif;
	}
	.sub{
		font-family: "Yanone Kaffeesatz",sans-serif;
		color: $black;
		margin-top: -11px;
	}
	.arriba{
		margin: -2%;
		width: 104%;
	}
	.abajo{
		margin: -2%;
		width: 104%;
	}

}
.content-block-one h1,
.content-block-one .h1 {
	color: inherit;
	font-size: 3em;
	text-align: center;


}
.content-block-one p {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 200;
}
.content-block-one > hr {
	border-top-color: #d5d5d5;
	text-align: center;
}
.container .content-block-one {
	border-radius: 6px;
}
.content-block-one .container {
	max-width: 100%;
}
@media screen and (min-width: 768px) {
	.content-block-one {
		padding-top: 72px;
		padding-bottom: 50px;
	}
}
.n-logo{
	margin-left: -20px;
}

.container .content-block-one {
	padding-right: 60px;
	padding-left: 60px;
}
.content-block-one h1,
.content-block-one .h1 {
	font-size: 3em;
	text-align: center;

}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 92px;
	padding: 20px;
	font-size: 28px;
}
.content-space-one {
	padding: 0px;
	margin-bottom: 0px;
	color: inherit;
	background: url(../img/stat-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}
.content-space-two {
	padding: 0px;
	margin-bottom: 0px;
	color: $blanco;
	background: url(../img/news-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	padding-bottom: 41%;
}
.page-break {
	width: 50%;
	height: 3px;
	background-color: #fff;
	margin: 0 auto;
}





.h-figure{
	padding-bottom: 38%;
	margin-left: 3%;
	width: 100%;
}








.efect0 {
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 230px;
	max-width: 374px;
	width: 100%;
	background: black;
	text-align: left;
	color: #ffffff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	font-size: 16px;
}
.efect0 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.efect0> img,
.efect0 .image img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	max-width: 100%;
}
.efect0 > img {
	vertical-align: top;
	position: relative;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	opacity: 0.6;
}
.efect0 figcaption,
.efect0 .image {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.efect0 .image {
	position: absolute;
	top: 0;
	bottom: 25%;
	right: 0;
	left: 0;
	overflow: hidden;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 1px 0 black;
}
.efect0 .image img {
	position: absolute;
	top: 0;
}
.efect0 figcaption {
	position: absolute;
	top: 75%;
	bottom: 46px;
	left: 20px;
	right: 20px;
	border-bottom: 2px solid #ffffff;
	padding-top: 20px;
	z-index: 1;
}
.efect0 h3,
.efect0 p {
	margin: 0;
}
.efect0 h3 {
	@include hover;
	font-weight: 700;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.efect0 p {
	font-size: 0.9em;
	letter-spacing: 1px;
	font-weight: 400;
	opacity: 0;
}
.efect0 .read-more {
	display: block;
	opacity: 0;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 20px;
	color: #ffffff;
	right: 0;
	bottom: 0;
	font-weight: 500;
	position: absolute;
}
.efect0 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
.efect0:hover .read-more,
.efect0.hover .read-more,
.efect0:hover figcaption,
.efect0.hover figcaption {
	opacity: 1;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.efect0:hover figcaption,
.efect0.hover figcaption,
.efect0:hover .image,
.efect0.hover .image {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.efect0:hover figcaption,
.efect0.hover figcaption {
	top: 50%;
}
.efect0:hover .image,
.efect0.hover .image {
	bottom: 50%;
}
.efect0:hover p,
.efect0.hover p {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.efect1 {
	font-family: "pompiere",cursive;
	position: relative;
	float: left;
	margin: 10px 1%;
	min-width: 230px;
	max-width: 345px;
	left: 6%;
	width: 100%;
	color: #000000;
	text-align: center;
	line-height: 1.4em;
	font-size: 14px;
	box-shadow: none !important;
}

.efect1 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.efect1 .profile-image {
	display: inline-block;
	width: 80%;
	z-index: 1;
	position: relative;
	padding: 10px;
	border: 1px solid #e8b563;
}

.efect1 .profile-image img {
	max-width: 100%;
	vertical-align: top;
}

.efect1 figcaption {
	width: 100%;
	color: $blanco;
	padding: 125px 25px 25px;
	margin-top: -100px;
	display: inline-block;
}

.efect1 h3,
.efect1 h4,
.efect1 p {
	margin: 0 0 5px;
}

.efect1 h3 {
	@include hover;
	font-weight: 600;
	font-size: 1.3em;
	font-family: 'Playfair Display', Arial, sans-serif;
}

.efect1 h4 {
	color: #8c8c8c;
	font-weight: 400;
	letter-spacing: 2px;
}

.efect1 p {
	font-size: 0.9em;
	letter-spacing: 1px;
	opacity: 0.9;
}

.efect1 .icons {
	text-align: center;
	width: 100%;
}

.efect1 i {
	padding: 10px 2px;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	color: #e8b563;
	opacity: 0.75;
}

.efect1 i:hover {
	opacity: 1;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}



.efect {
	font-family: 'Lato', Arial, sans-serif;
	position: relative;
	display: inline-block;
	overflow: hidden;
	margin: 8px -2px;
	min-width: 230px;
	max-width: 330px;
	width: 100%;
	color: #000000;
	font-size: 16px;
	line-height: 1.2em;
	text-align: center;
}

.efect *,
.efect *:before,
.efect *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.efect:before {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	content: '';
	background-color: $black;
	opacity: 0;
	-webkit-transform: scale(0.1);
	transform: scale(0.1);
	-webkit-transition: all 0.35s ease;
	transition: all 0.35s ease;
}

.efect img {
	max-width: 100%;
	vertical-align: top;
}

.efect figcaption {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	padding: 0 30px;
}
.gal{
/* margin: -18px; */
}

.efect h3 {
	@include hover;
	margin: 0 0 6px;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: 2px;
}

.efect p {
	margin: 0 0 10px;
	opacity: 0.6;
}

.efect .icons {
	width: 100%;
}

.efect a {
	margin: 2px;
	display: inline-block;
}

.efect a i {
	background-color: transparent;
	border-radius: 3px;
	color: #000000;
	display: block;
	font-size: 20px;
	line-height: 34px;
	text-align: center;
	width: 34px;
}

.efect a i:before {
	color: #fff;
}

.efect a i:hover {
	background-color: $verde;
	cursor: pointer;
}

.efect:hover:before,
.efect.hover:before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.efect:hover figcaption,
.efect.hover figcaption {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	opacity: 1;
}
