* {
	margin: 0;
	padding: 0;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-family: 'Pompiere', cursive;
	border: 0.5px solid blue;

}

h1{
	font-size: 3em;
	font-family: "pompiere",cursive;
	text-align: center;
	.border:after {
		content: "";
		position: absolute;
		width: 15%;
		height: 5px;
		border-top: 1px solid #c0b599;
		border-bottom: 1px solid #c0b599;
		bottom: -30px;
		margin: 0 auto;
		left: 0;
		right: 0;
	}
}

/* navbar */
.navbar-default {
	background-color: black;
	border-color: transparent;
	margin-bottom: 0px;
	margin-top: -1px;
	position: fixed;
	width: 100%;
	border-radius: 0;
	z-index: 10007;
	a.navbar-brand{   
		float: left;
		height: 71px;
		padding-left: 90px;
		font-size: 24px;
		line-height: 68px;
	}
	.n-logo{    
		background: url(../img/m129ctbxq65v0ce1e1k911.jpg)no-repeat;
		width: 103px;
		padding: 42px;
		margin-left: -79%;
	}
}

/* estilos generales */
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: white;
	margin-left: 66px;
	font-size: 28px;
}
.content-block-one {
	@include block;
	.verde{
		padding-top: 37px;
		color: $verde;
		font-family: "Yanone Kaffeesatz",sans-serif;
	}
	.sub{
		font-family: "Yanone Kaffeesatz",sans-serif;
		color: $black;
		margin-top: -11px;
	}
	
}
.content-block-one h1,
.content-block-one .h1 {
	color: inherit;
	font-size: 3em;
	text-align: center;


}
.content-block-one p {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 200;
}
.content-block-one > hr {
	border-top-color: #d5d5d5;
	text-align: center;
}
.container .content-block-one {
	border-radius: 6px;
}
.content-block-one .container {
	max-width: 100%;
}
@media screen and (min-width: 768px) {
	.content-block-one {
		padding-top: 72px;
		padding-bottom: 50px;
	}
}
.n-logo{
	margin-left: -20px;
}

.container .content-block-one {
	padding-right: 60px;
	padding-left: 60px;
}
.content-block-one h1,
.content-block-one .h1 {
	font-size: 3em;
	text-align: center;

}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
	margin-left: 92px;
	padding: 20px;
	font-size: 28px;
}
.content-space-one {
	padding: 0px;
	margin-bottom: 0px;
	color: inherit;
	background: url(../img/stat-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}
.content-space-two {
	padding: 0px;
	margin-bottom: 0px;
	color: inherit;
	background: url(../img/news-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
}
.page-break {
	width: 50%;
	height: 3px;
	background-color: #fff;
	margin: 0 auto;
}





.h-figure{
	padding-bottom: 38%;
	margin-left: 3%;
	width: 100%;
}




.snip1369 {
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 230px;
	max-width: 374px;
	width: 100%;
	background: black;
	text-align: left;
	color: #ffffff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	font-size: 16px;
}
.snip1369 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.snip1369 > img,
.snip1369 .image img {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	max-width: 100%;
}
.snip1369 > img {
	vertical-align: top;
	position: relative;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	opacity: 0.6;
}
.snip1369 figcaption,
.snip1369 .image {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.snip1369 .image {
	position: absolute;
	top: 0;
	bottom: 25%;
	right: 0;
	left: 0;
	overflow: hidden;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 1px 0 black;
}
.snip1369 .image img {
	position: absolute;
	top: 0;
}
.snip1369 figcaption {
	position: absolute;
	top: 75%;
	bottom: 46px;
	left: 20px;
	right: 20px;
	border-bottom: 2px solid #ffffff;
	padding-top: 20px;
	z-index: 1;
}
.snip1369 h3,
.snip1369 p {
	margin: 0;
}
.snip1369 h3 {
	font-weight: 700;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.snip1369 p {
	font-size: 0.9em;
	letter-spacing: 1px;
	font-weight: 400;
	opacity: 0;
}
.snip1369 .read-more {
	display: block;
	opacity: 0;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 20px;
	color: #ffffff;
	right: 0;
	bottom: 0;
	font-weight: 500;
	position: absolute;
}
.snip1369 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
.snip1369:hover .read-more,
.snip1369.hover .read-more,
.snip1369:hover figcaption,
.snip1369.hover figcaption {
	opacity: 1;
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
.snip1369:hover figcaption,
.snip1369.hover figcaption,
.snip1369:hover .image,
.snip1369.hover .image {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.snip1369:hover figcaption,
.snip1369.hover figcaption {
	top: 50%;
}
.snip1369:hover .image,
.snip1369.hover .image {
	bottom: 50%;
}
.snip1369:hover p,
.snip1369.hover p {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}